<!DOCTYPE html>
<html lang="en">
    <head>
        <title>coolmedia</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <a href="{{ url_for('show_index')}}">
                <img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="logo" class="logo">
            </a>
            <h1>coolmedia</h1>

            <div>
                <a href="/explore/">explore</a>
                <a href="{{ url_for('get_user', get_user_slug = logname) }}">{{ logname }}</a>
            </div>
        </div>

        <h1>Discover People</h1>
        <div>
            {% for people in not_following %}
                <div class="container post">
                    <div>
                        <img src="{{ people['user_img_url'] }}" alt="{{ people['username'] }}" class="profile">
                    </div>
                    <div>
                        <a href="{{ url_for('get_user', get_user_slug = people['username'])}}">{{ people['username'] }}</a>
                    </div>
                    <div>
                        <form action="{{ url_for('follow_unfollow', target = url_for('explore')) }}" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{ people['username'] }}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>